body {
  text-align: center;
  background-color: black;
  color: white;
  line-height: 1.5;
}
.header {
  text-align: center;
  color: white;
  background-image: url('https://wallpapercave.com/wp/wp3396925.jpg');
  align-text: center;
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 75px;
}
h2 {
  font-size: 50px;
}
p {
  font-size: 25px;
}
li {
  font-size: 20px;
}
.plans-cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border-color: black;
  background-color: navy;
  color: gold;
  width: 25%;
  padding-bottom: 10px;
  float: left;
}
.available {
  opacity: 1;
}
.unavailable {
  opacity: 0.4;
}
.sign-up-form {
  width: 540px;
  float: right;
  margin: auto;
  padding-top: 50px;
  color: white;
  background-color: black;
}
.submit-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
}
.philly-img {
  float: left;
}
.submit-btn:hover {
  cursor: pointer;
}
.apple-app-store-btn:hover {
  cursor: pointer;
}
.android-app-store-btn:hover {
  cursor: pointer;
}

.accordion {
      background-color: #000080;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  }
  
  .active, .accordion:hover {
  background-color: #ccc;
}
  
  .panel {
  padding: 0 18px;
  background-color: #000061;
  color: gold;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  }
  .active:after {
    content: "\2796";
  }
